Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [28]:
if __name__ == '__main__':
    
    liste=[]
    liste_n=[]
    for _ in range(int(input())):
        name = input()
        score = float(input())
        liste.append([name,score])
        liste.sort()
    for i in liste:
      liste_n.append(i[1])
      notlar = list(set(liste_n))
      notlar.sort()
    for j in liste:
      if j[1]==notlar[1]:
        print(j[0])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [29]:
print(notlar)
print(liste)
print(liste_n) 
#oluşan listeleri görmek amacıyla bu print komutalrı eklenerek incelenebirlir.

[37.2, 37.21, 39.0, 41.0]
[['Akriti', 41.0], ['Berry', 37.21], ['Harry', 37.21], ['Harsh', 39.0], ['Tina', 37.2]]
[41.0, 37.21, 37.21, 39.0, 37.2]