# **Import Numpy Library**

In [2]:
import numpy as np

**https://www.w3resource.com/python-exercises/numpy/index-array.php**
- Numpy Questions: 4, 8, 9, 10, 12, 14, 19

**4. Write a NumPy program to create a null vector of size 10 and update sixth value to 11.**
<br>[ 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
<br>Update sixth value to 11
<br>[ 0. 0. 0. 0. 0. 0. 11. 0. 0. 0.]

In [4]:
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
# ...

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [5]:
a[6]=11
print("Update sixth value to 11")
print(a)

Update sixth value to 11
[ 0.  0.  0.  0.  0.  0. 11.  0.  0.  0.]

In [ ]:
print("Update sixth value to 11")
# ...

Update sixth value to 11
[ 0.  0.  0.  0.  0.  0. 11.  0.  0.  0.]

**8. Write a NumPy program to create a 2d array with 1 on the border and 0 inside.**
![image-4.png](attachment:image-4.png)

In [7]:
print("Orginal array:")
b=np.ones((5,5))
print(b)

Orginal array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
print("Original array:")

# ...

Original array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [9]:
print("1 on the border and 0 inside in the array")
b[1:-1,1:-1]=0
print(b)

1 on the border and 0 inside in the array
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
print("1 on the border and 0 inside in the array")

# ...

1 on the border and 0 inside in the array
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

**9. Write a NumPy program to add a border (filled with 0's) around an existing array.**
![image-2.png](attachment:image-2.png)

In [13]:
o=np.ones((3,3))
print("Original array:")
print(o)

Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
print("Original array:")

# ...

Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [14]:
print("0 on the border and 1 inside in the array")
o = np.pad(o, pad_width=1, mode='constant', constant_values=0)
print(o)

0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

In [ ]:
print("0 on the border and 1 inside in the array")

# ...

0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

**10. Write a NumPy program to create a 

---

8x8 matrix and fill it with a checkerboard pattern.**
![image.png](attachment:image.png)

In [17]:
c=np.ones((3,3))
c

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
# ...

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [22]:
print("Checkerboard pattern:")
c=np.zeros((8,8),int)
c[1::2,::2]=1
c

Checkerboard pattern:

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [ ]:
print("Checkerboard pattern:")


# ...

Checkerboard pattern:

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [24]:
d=np.zeros((8,8),int)
d[::2,1::2]=1
d[1::2,::2]=1
print(d)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

In [ ]:
# ...

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

**12. Write a NumPy program to append values to the end of an array.**
![image-2.png](attachment:image-2.png)

In [26]:
print("Original array:")
e=np.arange(10,31,10)
print(e)

Original array:
[10 20 30]

In [ ]:
print("Original array:")

# ...

Original array:
[10, 20, 30]

In [32]:
print("After append values to the end of the array:")
e=np.append(e,[40, 50, 60, 70, 80, 90])
print(e)

After append values to the end of the array:
[10 20 30 40 50 60 70 80 90 40 50 60 70 80 90]

In [ ]:
print("After append values to the end of the array:")

# ...

After append values to the end of the array:
[10 20 30 40 50 60 70 80 90]

**14. Write a NumPy program to convert the values of Centigrade degrees into Fahrenheit degrees. Centigrade values are stored into a NumPy array.**
![image.png](attachment:image.png)

In [37]:
print("Values in Fahrenheit degrees:")
F=np.array([0,12,45.21,34,99.91])
print(F)

Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]

In [ ]:
print("Values in Fahrenheit degrees:")

# ...

Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]

In [38]:
print("Values in  Centigrade degrees:")  #Example: (50°F - 32) x .5556 = 10°C
F=(F-32)*5/9
print(F)

Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

In [ ]:
print("Values in  Centigrade degrees:") 

# ...

Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

**19. Write a NumPy program to get the unique elements of an array.**
![image.png](attachment:image.png)

In [40]:
print("Original array:")
k=np.array([10,10,20,20,30,30])
print(k)

Original array:
[10 10 20 20 30 30]

In [ ]:
print("Original array:")
# ...

Original array:
[10 10 20 20 30 30]

In [44]:
print("Unique elements of the above array:")
uniques=np.unique(k)
print(uniques)

Unique elements of the above array:
[10 20 30]

In [ ]:
print("Unique elements of the above array:")

# ...

Unique elements of the above array:
[10 20 30]

In [45]:
print("Original array:")
l=np.array([[1,1],[2,3]])
print(l)

Original array:
[[1 1]
 [2 3]]

In [ ]:
print("Original array:")

# ...

Original array:
[[1 1]
 [2 3]]

In [47]:
print("Unique elements of the above array:")
un=np.unique(l)
print(un)

Unique elements of the above array:
[1 2 3]

In [ ]:
print("Unique elements of the above array:")

# ...

Unique elements of the above array:
[1 2 3]

# **import Pandas Library**

In [48]:
import pandas as pd

**https://www.w3resource.com/python-exercises/pandas/index-data-series.php**
- Pandas Questions: 2, 3, 5, 6, 13

**2. Write a Pandas program to convert a Pandas module Series to Python list and it's type.**

In [50]:
list_1 = [2, 4, 6, 8, 10]

In [51]:
print("Pandas Series and type")
a=pd.Series(list_1)
print(a)
print(type(a))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# Convert the Python list to a Pandas Series 
print("Pandas Series and type")

# ...

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [52]:
b=list(a)
print(b)
print(type(b))

[2, 4, 6, 8, 10]
<class 'list'>

In [ ]:
# Convert the Pandas Series to Python list

# ...

[2, 4, 6, 8, 10]
<class 'list'>

**3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.**

In [53]:
list1 = [2, 4, 6, 8, 10]
list2 = [1, 3, 5, 7, 9]

In [58]:
l1=pd.Series(list1)
l2=pd.Series(list2)

In [ ]:
# Create two Pandas series with these lists

# ...

In [55]:
print("Add two Series:")
s=l1+l2
print(s)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [56]:
print("Add two Series:")
np.add(l1,l2)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [ ]:
print("Add two Series:")

# ...

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [60]:
print("Subtract two Series:")
print(np.subtract(l1,l2))

Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [59]:
print("Subtract two Series:")
print(l1-l2)

Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [ ]:
print("Subtract two Series:")

# ...

Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [61]:
print("Multiply two Series:")
print(np.multiply(l1,l2))

Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [62]:
print("Multiply two Series:")
print(l1*l2)

Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [ ]:
print("Multiply two Series:")

# ...

Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [64]:
print("Divide Series1 by Series2:")
print(np.divide(l1,l2))

Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [63]:
print("Divide Series1 by Series2:")
print(l1/l2)

Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
print("Divide Series1 by Series2:")

# ...

Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**5. Write a Pandas program to convert a dictionary to a Pandas series.**

In [65]:
keys=['a','b','c','d','e']
values = [100, 200, 300, 400, 800]

In [67]:
d={}
for i,ii in zip(keys,values):
  d[i]=ii
d

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [ ]:
# Create a dictionary from keys and values
print("Original dictionary:")

# ...

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [68]:
print("Converted series:")
print(pd.Series(d))

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
# Convert the dictionary to a Pandas series
print("Converted series:")

# ...

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

**6. Write a Pandas program to convert a NumPy array to a Pandas series.**

In [69]:
print("NumPy array:")
arr=np.array([10, 20, 30, 40, 50])
print(arr)

NumPy array:
[10 20 30 40 50]

In [ ]:
# Original Data : [10, 20, 30, 40, 50]
# Create a numpy array with this data
print("NumPy array:")

# ...

NumPy array:
[10 20 30 40 50]

In [70]:
print("Converted Pandas series:")
print(pd.Series(arr))

Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# Convert a NumPy array to this Pandas series.
print("Converted Pandas series:")

# ...

Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

**12. Write a Pandas program to add some data to an existing Series.**|

In [77]:
s=pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [ ]:
# Original Data : ['100', '200', 'python', '300.12', '400']
# Built a pandas Series with this data
print("Original Data Series:")
# ...

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [81]:
print("\nData Series after adding some data:")
ek=pd.Series(['500', 'php'])
print(s.append(ek))

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [ ]:
# Add ['500', 'php'] to the original Data Series
print("\nData Series after adding some data:")

# ...

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

**13. Write a Pandas program to create a subset of a given series based on value and condition.**

In [83]:
print("Original Data Series:")
aa=pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print(aa)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [ ]:
# Original Data : [0,1,2,3,4,5,6,7,8,9,10]
# Built a pandas Series with this data
print("Original Data Series:")

# ...

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [84]:
print("\nSubset of the above Data Series:")
aa[:6]

Subset of the above Data Series:

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
# Create a new series with data with a value less than 6
print("\nSubset of the above Data Series:")

# ...

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64