Str içinde verilen sayıyı inte, int olarak verilen sayıyı stre çeviren fonksiyon yazalım.

In [ ]:
def str_int(n):
    if int(n)==n:
        n=str(n)
    elif str(n)==n:
        n=int(n)
    return n
str_int(29348)

The right shift operation is similar to floor division by powers of two.

Sample calculation using the right shift operator ( >> ):

80 >> 3 = floor(80/2^3) = floor(80/8) = 10
-24 >> 2 = floor(-24/2^2) = floor(-24/4) = -6
-5 >> 1 = floor(-5/2^1) = floor(-5/2) = -2
Write a function that mimics (without the use of >>) the right shift operator and returns the result from the two given integers.

Examples
shift_to_right(80, 3) ➞ 10

shift_to_right(-24, 2) ➞ -6

shift_to_right(-5, 1) ➞ -2

shift_to_right(4666, 6) ➞ 72

shift_to_right(3777, 6) ➞ 59

shift_to_right(-512, 10) ➞ 0
Notes
There will be no negative values for the second parameter y.
This challenge is more like recreating of the right shift operation, thus, the use of the operator directly is prohibited.

In [1]:
def shift_to_right(a, b):
    return int(a/2**b)
shift_to_right(80, 3)

10

Write a function that takes the base and height of a triangle and return its area.

Examples
tri_area(3, 2) ➞ 3

tri_area(7, 4) ➞ 14

tri_area(10, 10) ➞ 50
Notes
The area of a triangle is: (base * height) / 2

In [3]:
def tri_area(a,b):
  return int((a*b)/2)
tri_area(7, 4)

14